<!DOCTYPE html>
<html>
  <head>
    <title>Sails ReactJS</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="/bower_components/dcjqaccordion/css/dcaccordion.css">
    <link rel="stylesheet" href="/css/bootstrap-reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/style-responsive.css">
    <!--STYLES END-->
    <!--SCRIPTS-->
    <script src="/bower_components/jquery/dist/jquery.js"></script>
    <script src="/bower_components/sails.io.js/dist/sails.io.js"></script>
    <script src="/bower_components/requirejs/require.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/dcjqaccordion/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="/bower_components/jquery.scrollTo/jquery.scrollTo.min.js"></script>
    <!--SCRIPTS END-->
  </head>

  <body>
      <%- body %>
  </body>
</html>
